# Credentials and environment secrets
.env
venv/
# Ignore python environment files and dependencies
med_store_env/
medical_store_env
__pycache__/
*.pyc

# Ignore temporary lock sheets
.~lock.*#

# AI Models, Vector DBs, and Cache folders
model_cache/
Semantic/
embedding_dir/
tranformer_model/

build_chroma.py