# Ignore python environment files and dependencies
med_store_env/
__pycache__/
*.pyc

# Ignore old databases
old_chroma/
chroma_db

# Ignore local AI model downloads
model_cache/

# Ignore original data files and temporary lock sheets
.~lock.*#

ingest_chunk.py
main.py
trial.py

Semantic/
transformer_model/
embedding_dir/ 

# Credentials and environment secrets
.env