# API
fastapi
uvicorn

# Vector DB + Embeddings
langchain-core
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers

# Data
pandas
python-dotenv
spello


langchain-ollama

sqlalchemy
mysql-connector-python

bcrypt
passlib

pyjwt
pymysql
jwt